# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 3b12078b854243b6c57faba8f11c6068062c0f84fedca99eb8625bcac5f00937bc027fbd1933c9376d732a19874a9f68a2ac569cadbf5b5fd627f2e6e6f7e1f0

test:
  secret_key_base: 39372ba957332f9741eec6e3ccc0eb9322af4aba4519b58548c1b9b5f464f9256641d18cc38fb7a8bc68d19ec154e625a2b4e1743db0619faf21b9eb4e908d77

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
